.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

div.navbar {
  border-style: solid;
  border-color: #004C00;
  border-width: 1px;
/*  background-color: #3399FF;
*/}

div.graph-header {
  text-align: center;
}

div.graph-header.ng-scope h3 {
  margin-top: 1px;
}

body {
  padding: 0;
  background-color: #FFFFE5;
  background-color: black;
  color: #FFFFE5;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/*Override marketing CSS above to center instruction text.*/
.marketing {
  padding-left: 150px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1px;
  text-align: center;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1px;
  background-color: #FFFFE5;
  color: black;
}
.jumbotron .btn {
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  width: 260px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

div.graph.ng-scope {
  border-style: solid;
  border-color: #004C00;
  border-width: 1px;
}

/*CSS for graph div created by controller*/
div#graph {
  margin: auto;
  border-style: solid;
  border-color: #004C00;
  border-width: 1px;
}

/*Button for Graphs*/
div.btn-group > .btn {
  float: none;
}

div.dropdown {
  padding-bottom: 1px;
}

ul.dropdown-menu {
  left:50%;
  margin-left:-140px;
}

div.row {
  margin-top: 1em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

