                    /*Place all the styles related to the
FiscalYears controller here.
They will automatically be included in
application.css.
You can use Sass (SCSS) here:
http://sass-lang.com/*/
/* line 9, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
header {
  text-align: center;
  background-color: #FFE7BA;
  border: 1px solid #c0c0c0;
  line-height: 0.1em;
  overflow: hidden;
  color: #333;
  padding: 0.2em;
  font-family: verdana, helvetica, serif, arial, 'Times New Roman';
}

/* line 20, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
header:hover {
  font-weight: bold;
}

/* line 24, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
header h4 {
  font-size: 5em;
  font-weight: normal;
  line-height: 0.1em;
}

/* line 30, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
header p {
  font-size: 1.5em;
  line-height: 0.1em;
}

/* line 36, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
body {
  background-color: #FFCCCC;
}

/* line 41, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
a:link, a:visited {
  text-decoration: none;
  /*color: black;*/
}

/* line 46, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #666;
}

/* line 52, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
#choices li:hover {
  font-weight: bold;
}

/* line 56, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
#choices li {
  cursor: pointer;
}

/* line 60, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
div#graphdiv {
  width: 700px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

/* line 67, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav {
  background-color: #FFCC99;
  border-top-style: solid;
  border-bottom-style: solid;
}

/* line 73, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav p {
  line-height: 0.1em;
}

/* line 77, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav#choices {
  border-top-style: none;
}

/* line 81, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav#choices p {
  text-decoration: underline;
}

/* line 85, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav ul {
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.1em;
  margin: 0em;
  padding: 0.2em;
}

/* line 93, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav ul li {
  margin: 0 30px;
}

/* line 97, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav p {
  font-size: 1.5em;
  padding: 0em;
}

/* line 102, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
ul#main-nav {
  font-size: 1.5em;
}

/* line 106, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
article {
  margin-left: 5em;
}

/* line 111, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
h2 {
  text-align: center;
}

/* line 115, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
tbody {
  text-align: right;
}

/* line 120, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
footer {
  text-align: center;
}

/* line 125, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/fiscal_years.css.scss */
nav li {
  display: inline;
}
/* line 1, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #666;
  background-color: #000;
}

/* line 33, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/mconiaris/dev/wdi/tracking_the_debt_app/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be
 * compiled into application.css, which
 * will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this
 * directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins,
 * if any, can be referenced here using a
 * relative path.
 *
 * You're free to add application-wide styles
 * to this file and they'll appear at the
 * bottom of the compiled file so the styles
 * you add here take precedence over styles
 * defined in any styles defined in the
 * other CSS/SCSS files in this directory.
 * It is generally better to create a new
 * file per style scope.
 *


 */

