/*Place all the styles related to the
FiscalYears controller here.
They will automatically be included in
application.css.
You can use Sass (SCSS) here:
http://sass-lang.com/*/


/* Body */

body {
  text-align: center;
}

/* Main Navigation */

.nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-pills {
    text-align:center;
}




/*Make Webkit stuff go away*/

/*header {
  text-align: center;
  background-color: #FFE7BA;
  border: 1px solid #c0c0c0;
  line-height: 0.1em;
  overflow: hidden;
  color: #333;
  padding: 0.2em;
  font-family: verdana, helvetica, serif, arial, 'Times New Roman';
}


header h1 {
  font-size: 5em;
  font-weight: normal;
  line-height: 1em;
}

header p {
  font-size: 1.3em;
  line-height: 0.1em;
}


body {
  background-color: #FFCCCC;
}


a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #666;
}

a header:hover {
  font-weight: normal;
}

#choices li:hover {
  font-weight: bold;
}

#choices li {
  cursor: pointer;
}

div#graphdiv {
  width: 700px ;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

div#instruction-text {
  text-align: center;
}

nav {
  background-color: #FFCC99;
  border-top-style: solid;
  border-bottom-style: solid;
  text-align: center;
}

nav p {
  line-height: 0.1em;
}

nav#nav-choices {
  border-top-style: none;
  border-bottom-style: none;
  background-color: white;
}

nav#nav-choices ul {
  padding: 0px;
}

nav#nav-choices ul li {
  margin: 0px;
}

nav#choices p {
  text-decoration: underline;
}

li#chart-header {
  margin: 0px auto;
  font-size: 1.5em;
}

select#choices {
  font-size: 1em;
  background-color: #FFE7BA;
}

li#chart-header {
  font-size: 1em;
}


nav ul {
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.1em;
  margin: 0em;
  padding: 0.2em;
} nav ul li {
  margin: 0 30px;
}

nav p {
  font-size: 1.5em;
  padding: 0em;
}

ul#main-nav {
  font-size: 1.5em;
}

article {
  margin-left: 5em;
}


h2 {
  text-align: center;
}

tbody {
  text-align: right;
}


footer {
  text-align: center;
}


nav li {
  display: inline;
}*/


/***********************
About Page
***********************/
/*article {
  text-align: left;
  margin: auto 9em;
}*/

/***********************
Historial Tables Page
***********************/
/*
td {
  text-align: right;
  padding-right: 1em;
}

td#fiscal-year {
  text-align: left;
  padding-left: 0.6em;
}

th {
  padding: 0.5em;
}*/
