/*Place all the styles related to the
FiscalYears controller here.
They will automatically be included in
application.css.
You can use Sass (SCSS) here:
http://sass-lang.com/*/

header {
  text-align: center;
  background-color: #FFCC66;
  border: 1px solid #c0c0c0;
  overflow: hidden;
  padding: 0.2em;
  margin: 1px;
  font-family: verdana, helvetica, serif, arial, 'Times New Roman';
}

header h4 {
  font-size: 5em;
}

header p {
  font-size: 1.5em;
}

body {
  background-color: #FFCCCC;
}


a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

div#graphdiv {
  width: 700px ;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #FFCC99;
  border-top-style: solid;
  border-bottom-style: solid;
}

nav#choices {
  border-top-style: none;
}

nav#choices p {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.1em;
  margin: 0em;
  padding: 0.2em;
} nav ul li {
  float: left; margin: 0 30px 0 30px;
}

nav p {
  font-size: 1.5em;
  padding: 0em;
}


footer {
  text-align: center;
}


