/*Place all the styles related to the
FiscalYears controller here.
They will automatically be included in
application.css.
You can use Sass (SCSS) here:
http://sass-lang.com/*/

/* Main Navigation */

.nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
