/*Place all the styles related to the
FiscalYears controller here.
They will automatically be included in
application.css.
You can use Sass (SCSS) here:
http://sass-lang.com/*/

header {
  text-align: center;
  background-color: #FF5050;
  border: 1px solid #c0c0c0;
  overflow: hidden;
  padding: 0.2em;
  margin: 1px;
  font-family: verdana, helvetica, serif, arial, 'Times New Roman';
}

header h4 {
  font-size: 5em;
}

header p {
  font-size: 1.5em;
}


a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

div#graphdiv {
  width: 700px ;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  overflow: hidden;
  position: relative;
  background-color: #CCFFFF;
  border-top-style: solid;
  border-bottom-style: solid;
  text-align: center;
  font-size: 1.2em;
  margin: 0em;
  padding: 0.3em;
} nav ul li {
  float: left; margin: 0 20px 0 0;

}

body {
  background-color: #FFFFCC;
}

button {
  background-color: #CCFFCC;
}

footer {
  text-align: center;
}


