/*Place all the styles related to the
FiscalYears controller here.
They will automatically be included in
application.css.
You can use Sass (SCSS) here:
http://sass-lang.com/*/

header {
  text-align: center;
  background-color: #FFE7BA;
  border: 1px solid #c0c0c0;
  line-height: 0.1em;
  overflow: hidden;
  color: #333;
  padding: 0.2em;
  font-family: verdana, helvetica, serif, arial, 'Times New Roman';
}

header:hover {
  font-weight: bold;
}

header h4 {
  font-size: 5em;
  font-weight: normal;
  line-height: 0.1em;
}

header p {
  font-size: 1.5em;
  line-height: 0.1em;
}


body {
  background-color: #FFCCCC;
}


a:link, a:visited {
  text-decoration: none;
  /*color: black;*/
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #666;
}

#choices li:hover {
  font-weight: bold;
}

#choices li {
  cursor: pointer;
}

div#graphdiv {
  width: 700px ;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #FFCC99;
  border-top-style: solid;
  border-bottom-style: solid;
}

nav p {
  line-height: 0.1em;
}

nav#choices {
  border-top-style: none;
}

nav#choices p {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.1em;
  margin: 0em;
  padding: 0.2em;
} nav ul li {
  margin: 0 30px;
}

nav p {
  font-size: 1.5em;
  padding: 0em;
}

ul#main-nav {
  font-size: 1.5em;
}

article {
  margin-left: 5em;
}


h2 {
  text-align: center;
}

tbody {
  text-align: right;
}


footer {
  text-align: center;
}


nav li {
  display: inline;
}
