<div class="about">
  <div class="row">
    <div class="col-lg-2 col-md-12"></div>
    <div class="col-lg-8 col-md-12">
      <h3>Why Make This Page?</h3>
      <p>Like most of you, I often wake up in the middle of the night with a longing desire to see the <a href="http://www.taxpolicycenter.org/taxfacts/displayafact.cfm?Docid=200">income and expenditures</a> of the United States Federal Government in chart form.</p>
      <p>So, it was a really easy decision to make this site. It meets a long standing need that the Internet, for some reason, has ignored.</p>

      <h3>That is total nonsense.</h3>
      <p>Um, OK. Point taken.</p>

      <h3>So seriously, why did you make this page?</h3>
      <p>This is my final project for the August <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive</a> of <a href="https://generalassemb.ly/new-york-city">General Assembly</a>, a software development school, where I learned all sorts of things, including Ruby, Ruby on Rails, Postgres, Redis, HTML, CSS, JavaScript, jQuery and more importantly, how to learn new stuff on my own.</p>
      <p>This site is an exmaple of learning on my own, as I had no prior experience using node.js, Grunt or the Karma testing suite. It was a lot of trial and error to make it work.</p>
      <p>I enjoy working with data, and wanted to explore data visualization a little bit more, as well as get more reps with Ruby and Rails and JavaScript. This is a humble (and pretty quick) attempt at doing that.</p>

      <h3>What is it that you are not trying to do?</h3>
      <p>I am not making an editorial on the national debt, why it exists and whose fault it is. I certainly have my opinions, which I will be happy to share with you after I get a real job. In the meantime, feel free to use this site as you wish and sleep better knowing that you can find this kind of data on the Internet free of charge.</p>

      <h3>How did you build this site?</h3>
      <p>This site was built using <a href="https://angularjs.org/">AngularJS</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://dygraphs.com/">Dygraphs</a>, <a href="http://gruntjs.com/">Grunt</a>, <a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a> and a little bit of <a href="http://jquery.com/">jQuery</a> thrown in. Learning Dygraphs with Angular was the biggest challenge and sometimes Grunt was difficult. Stack Overflow was my friend!</p>

      <h3>How can I use this site?</h3>
      <p>Choose which one of the six charts that you'd like to look at and feel free to select more detailed data by using your mouse. It's that simple!</p>

      <h3>The Internet has lied to be before. What is the source of your data?</h3>
      <p>The data comes fromt the US Governement, specifically, the <a href="http://www.taxpolicycenter.org/taxfacts/displayafact.cfm?Docid=200">Office of Management and Budget</a>. I will leave it to your better judgement as if they are lying to you.</p>

      <h3>Do you want to hire me?</h3>
      <p>If you think that this site was worthy of your professional standards (or with a lot of help, you might help me get there), please feel free to contact me via <a href="https://www.linkedin.com/in/michaelconiaris">my LinkedIn page</a> (make sure that you mention that you've seen this in your note).</p>

      <h3>Hey, thanks for stopping by!</h3>
      <p>Really!</p>
    </div>
    <div class="col-lg-2 col-md-12"></div>
  </div>
</div>
