<div class=graph-header>
  <h3>Charting U.S. Receipts, Outlays and Deficits <br>From 1940 to the Present</h3>
  <h4>Summary of Receipts, Outlays, and Surpluses or Deficits</h4>
</div>

<div class="jumbotron">
  <div ng-controller="GraphCtrl">
    <button ng-click="currentDollars()">Current Dollars
    </button>
    <graph data="graph.data" opts="graph.opts"></graph>
  </div>
</div>

<div ng-controller="ExampleController">
  <select ng-model="selection" ng-options="item for item in items">
  </select>
  <code>selection={{selection}}</code>
  <hr/>
  <div class="animate-switch-container"
    ng-switch on="selection">
      <div class="animate-switch" ng-switch-when="currentDollars">Current Dollars</div>
      <div class="animate-switch" ng-switch-when="constantDollars">Constant Dollars</div>
      <div class="animate-switch" ng-switch-when="settings">Settings Div</div>
      <div class="animate-switch" ng-switch-when="home">Home Span</div>
      <div class="animate-switch" ng-switch-default>default</div>
  </div>
  <graph data="graph.data" opts="graph.opts"></graph>
</div>

<div class="row marketing">
  <h4>Instructions</h4>
  <p>
    Mouse over to highlight individual values. Click and drag to zoom. <br/>Double-clicking will zoom you back out. Shift-drag will pan.
  </p>
 <!--  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p> -->
</div>

