<h1>This is fiscal_years home.html</h1>
<div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= current_dollars %>,
              {
                labels: [ "Fiscal Year", "Receipts", "Outlays" ]
              });
</script>

<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= constant_dollars %>,
              {
                labels: [ "Fiscal Year", "Receipts", "Outlays" ]
              });
</script>
<!-- This below is overriding the above -->
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    <%= gdp_dollars %>,
              {
                labels: [ "Fiscal Year", "Receipts", "Outlays" ]
              });
</script>

