<!DOCTYPE html>
<html>
<head>
  <title>TrackingTheDebtApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript"
  src="http://dygraphs.com/1.0.1/dygraph-combined.js"></script>
  <%= csrf_meta_tags %>
</head>
<a href="/">
  <header>Tracking The Debt</header>
  <p class=header>Comparing U.S. Receipts, Outlays and Deficits Since 1940</p>
</a>
<body>
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href='/fiscal_years'>Historical Tables</a></li>
    </ul>
  </nav>
<%= yield %>
</body>
<footer>
  <h6>@ Michael Coniaris Awesomeness</h6>
</footer>
</html>

