<!DOCTYPE html>
<html>
<head>
  <title>TrackingTheDebtApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript"
  src="http://dygraphs.com/1.0.1/dygraph-combined.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>This is layouts/application.html</h1>
<%= yield %>

</body>
</html>
